synapsepoc/pipeline/dlk_sqldb_multi_test.json
{
	"name": "dlk_sqldb_multi_test",
	"properties": {
		"activities": [
			{
				"name": "multi_test",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "SqlPoolSink",
						"allowCopyCommand": true
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['donorid']"
								}
							},
							{
								"source": {
									"path": "$['donorfirst_name']"
								}
							},
							{
								"source": {
									"path": "$['donorlastname']"
								}
							},
							{
								"source": {
									"path": "$['donorcountryid']"
								}
							},
							{
								"source": {
									"path": "$['donorprovinceid']"
								}
							},
							{
								"source": {
									"path": "$['donorcity']"
								}
							},
							{
								"source": {
									"path": "$['donoraddress']"
								}
							},
							{
								"source": {
									"path": "$['donationid']"
								}
							},
							{
								"source": {
									"path": "$['referencenumber']"
								}
							},
							{
								"source": {
									"path": "$['donationdate']"
								}
							},
							{
								"source": {
									"path": "$['eventId']"
								}
							},
							{
								"source": {
									"path": "$['amount']"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "Json2",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SqlPoolTable1",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Json2",
						"type": "DatasetReference"
					},
					"fieldList": [],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "SqlPoolSink",
									"allowCopyCommand": true
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "Json2",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "multifile_test",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}