synapsepoc/pipeline/Pipeline 2.json
{
	"name": "Pipeline 2",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Json2",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFileName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "SqlDWSink",
									"preCopyScript": "Truncate table dbo.donationmerge;",
									"allowCopyCommand": true,
									"disableMetricsCollection": false
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "dlsg_adf_multifiles_Test",
										"type": "LinkedServiceReference"
									}
								},
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['donorid']"
											},
											"sink": {
												"name": "donorid",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['donorfirst_name']"
											},
											"sink": {
												"name": "donorfirst_name",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['donorlastname']"
											},
											"sink": {
												"name": "donorlastname",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['donorcountryid']"
											},
											"sink": {
												"name": "donorcountryid",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['donorprovinceid']"
											},
											"sink": {
												"name": "donorprovinceid",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['donorcity']"
											},
											"sink": {
												"name": "donorcity",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['donoraddress']"
											},
											"sink": {
												"name": "donoraddress",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['donationid']"
											},
											"sink": {
												"name": "donationid",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['referencenumber']"
											},
											"sink": {
												"name": "referencenumber",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['donationdate']"
											},
											"sink": {
												"name": "donationdate",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['eventId']"
											},
											"sink": {
												"name": "eventId",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['amount']"
											},
											"sink": {
												"name": "amount",
												"type": "Decimal"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "Json2",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "Test",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Copy data2",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"additionalColumns": [
										{
											"name": "test",
											"value": "$$COLUMN:"
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFileName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['donorid']"
											}
										},
										{
											"source": {
												"path": "$['donorfirst_name']"
											}
										},
										{
											"source": {
												"path": "$['donorlastname']"
											}
										},
										{
											"source": {
												"path": "$['donorcountryid']"
											}
										},
										{
											"source": {
												"path": "$['donorprovinceid']"
											}
										},
										{
											"source": {
												"path": "$['donorcity']"
											}
										},
										{
											"source": {
												"path": "$['donoraddress']"
											}
										},
										{
											"source": {
												"path": "$['donationid']"
											}
										},
										{
											"source": {
												"path": "$['referencenumber']"
											}
										},
										{
											"source": {
												"path": "$['donationdate']"
											}
										},
										{
											"source": {
												"path": "$['eventId']"
											}
										},
										{
											"source": {
												"path": "$['amount']"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "Json2",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "CopyFileArchive",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Delete1",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Json2",
						"type": "DatasetReference"
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "dlsg_adf_multifiles_Test",
							"type": "LinkedServiceReference"
						},
						"path": "logs"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"wildcardFileName": "*.json",
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Copy data3",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": " select DISTINCT \n DM.DONORID,\n DONORFIRST_NAME,\n DONORLASTNAME,\n DONORADDRESS,\n DONORPROVINCEID\n\n from DBO.DonationMerge DM\n LEFT JOIN \n (\n SELECT DONORID,FNAME,LNAME,ADDRESS,PROVINCEKEY FROM DBO.DONOR\n )B\n ON DM.DONORID=B.DONORID\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlDWSink",
						"allowCopyCommand": true
					},
					"enableStaging": true,
					"stagingSettings": {
						"linkedServiceName": {
							"referenceName": "dlsg_adf_multifiles_Test",
							"type": "LinkedServiceReference"
						}
					},
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "DONORID",
									"type": "String"
								},
								"sink": {
									"name": "Donorkey",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "DONORFIRST_NAME",
									"type": "String"
								},
								"sink": {
									"name": "FName",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "DONORLASTNAME",
									"type": "String"
								},
								"sink": {
									"name": "LName",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "DONORADDRESS",
									"type": "String"
								},
								"sink": {
									"name": "Address",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "DONORPROVINCEID",
									"type": "String"
								},
								"sink": {
									"name": "ProvinceKey",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "Test",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Test",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": []
	}
}